/* Form error
 ========================================================================== */

.uk-form-error {
    color: rgb(255, 0, 0);
    font-size: 0.875rem;
    margin-top: 13px;
    margin-bottom: 8px;
}

.hero-feature-bg-with-image {
    width: 1560px;
    height: 560px;
    position: absolute;
    background-image: url("https://ijbridgelms.000webhostapp.com/assets/images/backgrounds/course-background.png");
}

.uk-background-white {
    background: #ffffff;
}

.uk-scrollable-content {
    margin: 4px, 4px;
    padding: 4px;
    background-color: white;
    width: 100%;
    height: 510px;
    overflow-x: hidden;
    overflow-x: auto;
    text-align: justify;
}